<!--
/********************************************************************************************************************************************
		NICE평가정보 Copyright(c) KOREA INFOMATION SERVICE INC. ALL RIGHTS RESERVED
		
		서비스명 : 본인인증 (CheckPlus) 서비스
		페이지명 : 본인인증 (CheckPlus) 호출 페이지
*********************************************************************************************************************************************/
-->    
<html>
<head>
    <title>NICE평가정보 - CheckPlus 안심본인인증 테스트</title>
</head>
<body>
    <center>
    <p><p><p><p>
    본인인증이 실패하였습니다.<br>
    <table width=500 border=1>
        <tr>
            <td>message</td>
            <td><%=sRtnMSG%></td>
        </tr>            
        <tr>
            <td>요청 번호</td>
            <td><%=requestnumber%></td>
        </tr>            
        <tr>
            <td>본인인증 실패 코드</td>
            <td><%=errcode%></td>
        </tr>            
        <tr>
            <td>인증수단</td>
            <td><%=authtype%></td>
        </tr>
        </tr>
    </table>
    </center>
</body>
</html>